{% extends "baseUsers.html" %}
{% load static %}

{% block datas %}
<section class="h-full w-full flex flex-row justify-around items-center">
    <div class="h-full flex flex-col">
        <div class="top-areas mb-6">
            <h2 class="text-2xl text-gray-700 font-semibold">Areas de Control y Servicio</h2>
        </div>

        <div class="max-h-[90%] w-[700px] border-2 bg-white border-gray-500 rounded-lg overflow-y-auto shadow-xl">
            <ul class="flex flex-row text-base font-semibold bg-gray-300 px-2 py-2 text-center">
              <li class="w-[34%] flex justify-center items-center">Nombre PQRS</li>
              <li class="w-[10%] flex justify-center items-center">Tiempo Horas</li>
              <li class="w-[35%] flex justify-center items-center">Area de PQRS</li>
              <li class="w-[10%] flex justify-center items-center"></li>
              <li class="w-[10%] flex justify-center items-center"></li>
            </ul>
          
            <div class="flex flex-col gap-2 py-2">
              {% for pqr in pqrs %}
                <ul
                    class="flex flex-row gap-2 py-2 bg-gray-100/40 rounded-lg hover:bg-slate-200
                    transition-colors duration-200 px-2 text-lg">
                    <li class="w-[35%] border-r-2 flex text-center justify-center items-center">{{pqr.name}}</li>
                    <li class="w-[10%] border-r-2 flex text-center justify-center items-center">{{pqr.timeExecute}}</li>
                    <li class="w-[35%] border-r-2 flex text-center justify-center items-center">{{pqr.area_redirect}}</li>
                    <li class="w-[10%] border-r-2 flex text-center justify-center items-center">
                        <a
                            href="{% url 'updatePQRS' pqr.id %}"
                        >
                            {% include "icons/edit.html" %}
                        </a>
                    </li>
                    <li class="w-[10%] flex text-center justify-center items-center">
                        <a
                            href="{% url 'deleteTypePQRS' pqr.id %}"
                            onclick="return confirm('Esta seguro de eliminar esta PQRS?')"
                        >
                            {% include "icons/delete.html" %}
                        </a>
                    </li>
                </ul>
              {% endfor %}
            </div>
        </div>

    </div>
    
    <div class="flex flex-col gap-5">
        <h2 class="text-3xl text-gray-600">Nueva Tipo de PQRS</h2>
        <form method="POST" class="flex flex-col gap-4" id="typepqrs-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="flex flex-col justify-center items-start gap-1">
                    <label class="text-gray-800 text-lg" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button
                class="bg-cootra hover:scale-105 transition-all duration-200 text-white mt-5 text-2xl px-5 shadow-xl p-2 rounded-full"
                id="submit-btn"
                type="submit">
                Crear PQRS
            </button>
        </form>
    </div>
</section>


<script>
    document.getElementById('typepqrs-form').addEventListener('submit', function(event) {
        // Cambiar el texto y desactivar el botón solo cuando el formulario es enviado
        var button = document.getElementById('submit-btn');
        button.textContent = 'Cargando...'; // Cambiar el texto del botón
        button.disabled = true; // Desactivar el botón para evitar múltiples clics
    });
</script>

{% endblock datas %}