{% extends "baseUsers.html" %}
{% load static %}

{% block datas %}
    <section class="flex flex-col gap-5">
        <h2 class="text-3xl text-cootra font-semibold">Crear PQRS</h2>
        <form
            method="POST"
            enctype="multipart/form-data"
            id="pqrs-form"
            class="w-full flex flex-col gap-5 border-2 border-gray-600 p-5 rounded-2xl shadow-2xl bg-black/10">
            {% csrf_token %}

            <div class="w-full grid grid-cols-2 gap-x-20 gap-y-5">
                {% for field in pqrs_form %}
                    <div class="w-full flex flex-col">
                        <label class="text-gray-700 text-base font-semibold" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            
            <div class="flex flex-col gap-3 text-sm">
                <h3 class="text-xl text-cootra font-bold">Archivos:</h3>
                {{ file_formset.management_form }}
                <div id="file-forms" class="flex flex-wrap gap-4">
                    {% for form in file_formset %}
                        <div id="form-row" class="flex flex-col">
                            {{ form.as_p }}
                        </div>
                    {% endfor %}
                </div>
                <button
                    type="button"
                    id="add-file-form"
                    class="w-52 bg-blue-400 text-white rounded-md px-4 py-1 hover:bg-blue-500 transition-all duration-200">
                    Agregar nuevo archivo
                </button>
            </div>
            <br>
            <button
                type="submit"
                id="submit-btn"
                class="bg-cootra py-2 px-4 text-xl w-60 text-white rounded-md hover:scale-102 transition-all duration-200">
                Crear PQRS
            </button>
        </form>
    </section>

    <script>

        document.getElementById('pqrs-form').addEventListener('submit', function(event) {
            console.log("test cretaed")
            // Cambiar el texto y desactivar el botón solo cuando el formulario es enviado
            var button = document.getElementById('submit-btn');
            button.textContent = 'Cargando...'; // Cambiar el texto del botón
            button.disabled = true; // Desactivar el botón para evitar múltiples clics
        });

        document.getElementById('add-file-form').onclick = function() {
            // Obtener el número de formularios ya generados
            var formIdx = document.querySelectorAll('.form-row').length;
    
            // Crear un nuevo formulario dinámico
            var newForm = document.createElement('div');
    
            // Obtener el HTML del formulario vacío de Django y reemplazar el __prefix__ por el índice adecuado
            var newFormHtml = `{{ file_formset.empty_form.as_p|escapejs }}`;
    
            // Reemplazar __prefix__ con el índice adecuado
            newFormHtml = newFormHtml.replace(/__prefix__/g, formIdx);
    
            // Asignamos el nuevo formulario al contenedor
            newForm.innerHTML = `<div class="form-row">${newFormHtml}</div>`;
    
            // Agregar el nuevo formulario al contenedor de formularios
            document.getElementById('file-forms').appendChild(newForm);
    
            // Incrementamos el campo TOTAL_FORMS en el management_form
            document.querySelector('[name="files_set-TOTAL_FORMS"]').value = formIdx + 1;
        };
    </script>
    
    

{% endblock datas %}