{% load static %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
{% endblock styles %}

<header class="flex flex-row justify-between items-center px-10 py-4 border-b-2 border-gray-950">
  <a
    href="{% url 'createdpqrs' %}"
    class="flex justify-center items-center bg-blue-300 rounded-md
    px-3 py-1 text-xl shadow-2xl gap-3 text-blue-800 border-[1px] border-gray-400/40
    hover:scale-105 transition-all duration-200"
  >
    {% include "icons/new.html" %} Nueva PQRS
  </a>
  <div class="flex flex-row justify-between items-center gap-4">
    <p class="font-semibold text-xl">
      {% if request.user.area %}
      {{ request.user.area}} - 
      {% endif %}
      {{ request.user.username }}</p>
    <a href="{% url 'logout' %}" class="exit">
      {% include "icons/exit.html" %}
    </a>
  </div>
</header>
