{% extends "baseUsers.html" %}

{% block datas %}
    <p class="text-5xl">Documento Asociado: {{pqrs.asociado}}</p>
    <p>Tipo de Solicitud: {{pqrs.typePQRS}}</p>
    <p>Descripcion: {{pqrs.description}}</p>
    <p>Hora Generacion: {{pqrs.created}}</p>
    <p>Hora Vencimiento: {{pqrs.timeResponse}}</p>
    {% if pqrs.image %}
        <img width="200" height="200" src="{{pqrs.image.url}}" alt=""/>
    {% endif %}
    <ul>
        {% if pqrs.file %}
            <li>Archivo adjunto al crear la PQRS: <a href="{{pqrs.file.url}}" target="_blank">Link</a></li>
        {% endif %}
    </ul>

    <h3>Comentarios o respuestas adjuntadas</h3>
    <ul>
        {% for comment in comments %}
            <li>{{comment.coment}} - {{comment.created_by}}</li>
        {% endfor %}
    </ul>

    <form method="POST">
        {% csrf_token %}
        {{formComment.as_p}}
        <button type="submit">
            Agregar Comentario
        </button>
    </form>

{% endblock datas %}