{% extends "baseUsers.html" %}

{% block datas %}
    <section class="flex flex-col pb-10">
        <div class="">
            <div class="flex flex-row justify-between">
                <div>
                    <p class="text-3xl text-cootra font-semibold">{{ pqrs.name }} - {{ pqrs.asociado }}</p>
                    <p class="text-xl text-gray-600 my-4">Tipo de Solicitud: <span class="font-bold">{{pqrs.typePQRS}}</span></p>
                </div>
                <div class="flex flex-col gap-1 justify-center items-end font-semibold text-gray-600 italic">
                    {% if pqrs.status == "Open" %}
                        <a href="{% url 'updatepqrs' pqrs.num%}">Editar</a>
                    {% endif %}
                    <p class="text-2xl">Estado: {{ pqrs.status }}</p>
                    <p>Fecha Creación: {{pqrs.created}}</p>
                    <p>Fecha Vencimiento: {{pqrs.timeResponse}}</p>
                    {% if pqrs.status == "Open" %}
                        <div class="flex flex-col justify-end bg-blue-100 items-end rounded-lg px-5 py-2 border-[1px] border-gray-500">
                            <form method="POST" class="flex flex-row justify-end w-[450px]">
                                {% csrf_token %}
                                <input type="hidden" name="submit_share" value="1">
                                {{ formShare.as_p }}
                                <button type="submit"
                                    class="bg-cootra hover:opacity-85 transition-all duration-200 text-white text-sm shadow-xl px-2 rounded-lg">
                                Compartir</button>
                            </form>
                        </div>
                        {% if messages %}
                            <div class="alerts">
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} p-4 rounded-lg">
                                    <h3 class="text-lg font-bold">{{ message }}</h3>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="flex flex-col relative mt-3">
                <p class="text-lg font-semibold absolute -top-2 bg-white px-2 rounded-md left-2">Descripcion:</p>
                <p class="pb-7 pt-5 px-3 my-2 border-2 border-cootra rounded-lg bg-white shadow-con">{{pqrs.description}}</p>
                <p class="absolute bottom-3 text-base italic right-2">Creada por: {{ pqrs.userCreated }}</p>
            </div>
            <div class="flex flex-col relative mt-3">
                <p class="text-lg font-semibold absolute -top-2 bg-white px-2 rounded-md left-2">Archivos Adjuntos</p>
                <div class="pb-7 pt-5 px-3 my-2 border-2 border-cootra rounded-lg bg-white shadow-con">
                    {% if files.count > 0 %}
                        <p>Tienes {{ files.count }} adjuntos al momento de crear la pqrs.</p>
                        <ul class="list-disc ml-10">
                            {% for file in files %}
                            <li>Archivo: <a
                                href="{{ file.file.url }}"
                                class="text-cootra hover:underline underline-offset-1 transition-all duration-200"
                                target="_blank">
                                {{ file.nameFile }}
                            </a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No tienes archivos adjuntos.</p>
                    {% endif %}
                </div>
            </div>
            {% if pqrs.status == "Open" %}
                <div class="flex flex-row justify-around mt-3">
                    <button
                        class="bg-blue-400 text-xl px-4 py-1 rounded-md text-black shadow-md border-[1px] border-white
                        hover:bg-blue-500/80 hover:scale-102 transition-all duration-200"
                        id="open-dialog-response"
                    >
                    Enviar Respuesta
                </button>
                    <a href="{% url 'closepqrs' pqrs.num %}"
                        onclick="return confirm('Esta seguro de cerrar esta PQRS sin enviar una respuesta al asociado?')"
                        class="bg-red-400 text-xl px-4 py-1 rounded-md text-white shadow-md border-[1px] border-white
                        hover:bg-red-500/80 hover:scale-102 transition-all duration-200">
                        Finalizar Solicitud
                    </a>
                </div>
            {% endif %}
        </div>
        
        <div class="h-[2px] w-full bg-cootra my-6 shadow-black"></div>

        <div class="flex flex-col justify-between">

            {% if pqrs.status == "Open" %}
            <div id="backdrop" class="hidden fixed inset-0 w-screen h-screen bg-black/30 Z-20
            backdrop-blur-sm"></div>
            <dialog
                id="dialog"
                class="hidden fixed w-[50%] inset-0 flex-col items-center justify-center rounded-xl z-50
                border-2 border-gray-500 shadow-2xl px-20 py-8">
                <button id="close-dialog" class="absolute top-3 right-3">
                    {% include "icons/close.html" %}
                </button>
                <h2 class="text-cootra text-xl font-semibold mb-4">Agregar Comentario o Respuesta</h2>
                <form method="POST" enctype="multipart/form-data" class="w-full flex flex-col gap-4">
                    <input type="hidden" name="submit_comment" value="1">
                    {% csrf_token %}
                    {% for field in formComment %}
                        <div class="flex flex-col justify-center items-start">
                            <label class="text-gray-700 text-base font-semibold" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit"
                    class="bg-cootra hover:opacity-85 transition-all duration-200 text-white mt-5 text-lg px-5 shadow-xl p-2 rounded-full">
                        Agregar Comentario
                    </button>
                </form>
            </dialog>

            <dialog
                id="dialog-response"
                class="hidden fixed w-[50%] inset-0 flex-col items-center justify-center rounded-xl z-50
                border-2 border-gray-500 shadow-2xl px-20 py-8">
                <button id="close-dialog-response" class="absolute top-3 right-3">
                    {% include "icons/close.html" %}
                </button>
                <h2 class="text-cootra text-xl font-semibold mb-4">Agregar Respuesta</h2>
                <form method="POST" enctype="multipart/form-data" class="w-full flex flex-col gap-4">
                    <input type="hidden" name="submit_response" value="1">
                    {% csrf_token %}
                    {% for field in formResponse %}
                        <div class="flex flex-col justify-center items-start">
                            <label class="text-gray-700 text-base font-semibold" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit"
                    class="bg-cootra hover:opacity-85 transition-all duration-200 text-white mt-5 text-lg px-5 shadow-xl p-2 rounded-full">
                        Enviar Respuesta
                    </button>
                </form>
            </dialog>


            {% endif %} 
            <div class="relative flex flex-col justify-between">
                {% if pqrs.status == "Open" %}
                    <button type="button"
                        id="open-dialog"
                        class="absolute right-2 -top-3 bg-cootra w-[300px] h-[35px] hover:opacity-85
                        z-10 transition-all duration-200 text-white text-lg px-5 shadow-xl rounded-lg">
                        Agregar Comentario
                    </button>
                {% endif %} 
                <div class="w-[100%]">
                    <h3 class="text-cootra text-2xl mb-2">Comentarios o respuestas adjuntadas</h3>
                    <ul class="flex flex-col gap-5">
                        {% for comment in comments %}
                        <li class="relative flex flex-row gap-5 border-2 border-gray-500/50 rounded-lg p-3 pb-6 shadow-2xl">
                            <div class="w-[65%]">
                                <p class="text-base font-semibold">Comentario:</p>
                                <p class="text-base text-gray-600">{{comment.coment}}</p>

                            </div>
                            {% if comment.file %}
                            <div class="w-[25%]">
                                <p class="text-base font-semibold mt-4">Archivo adjunto:</p>
                                <a class="text-cootra hover:underline underline-offset-1 transition-all duration-200"
                                href="{{ comment.file.url }}"
                                target="_blank">- {{comment.nameFile }}</a>
                            </div>
                            {% endif %}
                            <p class="absolute bottom-2 right-2 italic">Creada por: {{comment.created_by}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    </section>

    <script>
        const backdrop = document.getElementById('backdrop')

        const dialog = document.getElementById('dialog')
        const dialogResponse = document.getElementById('dialog-response')

        const closeDialogButton = document.getElementById('close-dialog')
        const closeDialogResponseButton = document.getElementById('close-dialog-response')

        const openDialogButton = document.getElementById('open-dialog')
        const openDialogResponseButton = document.getElementById('open-dialog-response')

        function openDialog() {
            dialog.classList.remove('hidden')
            dialog.classList.add('flex')
            backdrop.classList.remove('hidden')
        }

        function closeDialog() {
            backdrop.classList.add('hidden');
            dialog.classList.add('hidden');
            dialogResponse.classList.add('hidden');

        }

        function openDialogResponse() {
            dialogResponse.classList.remove('hidden')
            dialogResponse.classList.add('flex')
            backdrop.classList.remove('hidden')
        }

        backdrop.addEventListener('click', closeDialog);
        closeDialogButton.addEventListener('click', closeDialog);
        openDialogButton.addEventListener('click', openDialog);

        closeDialogResponseButton.addEventListener('click', closeDialog);
        openDialogResponseButton.addEventListener('click', openDialogResponse);

    </script>

{% endblock datas %}