{% extends "baseUsers.html" %}

{% block datas %}
    <p>Documento Asociado: {{pqrs.asociado}}</p>
    <p>Tipo de Solicitud: {{pqrs.typePQRS}}</p>
    <p>Descripcion: {{pqrs.description}}</p>
    <p>Hora Generacion: {{pqrs.created}}</p>
    <p>Hora Vencimiento: {{pqrs.timeResponse}}</p>
    {% comment %} <iframe src="http://127.0.0.1:8000/media/{{ pqrs.file }}" width="600" height="400" type="application/pdf"> {% endcomment %}
    <iframe src="http://127.0.0.1:8000/media/files/EXAMEN_Medico.pdf" width="600" height="400" type="application/pdf">
        Este navegador no soporta iframes o el archivo PDF no se puede mostrar.
    </iframe>
          
    <embed src="http://127.0.0.1:8000/media/files/EXAMEN_Medico.pdf" width="600" height="400" type="application/pdf">
        Archivo anexado en la creacion.
    </embed>
          

{% endblock datas %}