{% extends "baseUsers.html" %}
{% load static %}

{% block datas %}
    <section class="flex flex-col gap-5">
        <h2 class="text-3xl text-cootra font-semibold">Actualizar Datos PQRS</h2>
        <form
            method="POST"
            class="w-full flex flex-col gap-5 border-2 border-gray-600 p-5 rounded-2xl shadow-2xl bg-black/10">
            {% csrf_token %}

            <div class="w-full grid grid-cols-2 gap-x-20 gap-y-5">
                {% for field in form %}
                    <div class="w-full flex flex-col">
                        <label class="text-gray-700 text-base font-semibold" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            
            <button type="submit" class="bg-cootra py-2 px-4 text-xl w-60 text-white rounded-md hover:scale-102 transition-all duration-200">
                Actualizar
            </button>
        </form>
    </section>

{% endblock datas %}