{% extends "baseUsers.html" %}

{% load static %}

{% block title %}Sesión Finalizada{% endblock %}

{% block content %}
    <div class="w-full h-screen bg-backlogin flex flex-col justify-between items-center">

        <div class="w-full p-5 flex flex-row gap-10 items-end">
            <img class="h-20" src="https://cootratiemposimulador.pythonanywhere.com/static/images/logo_cootratiempo.jpg" alt="logo cootratiempo">
            <h1 class="text-white text-4xl font-semibold">PQRS Cootratiempo</h1>
        </div>

        <div class="h-auto bg-black/60 w-[500px] text-white flex flex-col gap-5 justify-between items-center
            p-5 rounded-2xl border-[1px] border-gray-700">
            <h1 class="text-2xl font-bold">Sesion Finalizada</h1>
            <h3 class="text-sm">Esperamos tenerte pronto de vuelta, gracias por visitarnos!</h3>
            <p class="second-text">
                Si quieres inciar sesion de nuevo da click en el siguiente boton. 
            </p>
            <a class="w-[200px] flex justify-center items-center bg-gray-500 rounded-md text-xl mt-4 cursor-pointer hover:bg-gray-700
                    transition-all duration-200 border-[1px] border-transparent hover:border-white" href="{% url "login" %}">Iniciar Sesión</a>
        </div>

        <div class="w-full flex text-sm justify-end text-white mb-4 mr-4">
            <p class="flex ">Modulo de PQRS - Cootratiempo - Version 1.0 - 2024</p>
        </div>
    </div>
{% endblock %}