{% extends "baseUsers.html" %}

{% load static %}

{% block title %}Cambio de contraseña{% endblock %}

{% block content %}
<div class="w-full h-screen bg-backlogin flex flex-col justify-between items-center">

    <div class="w-full p-5 flex flex-row gap-10 items-end">
        <img class="h-20" src="https://cootratiemposimulador.pythonanywhere.com/static/images/logo_cootratiempo.jpg" alt="logo cootratiempo">
        <h1 class="text-white text-4xl font-semibold">PQRS Cootratiempo</h1>
    </div>

    <div class="h-auto bg-black/60 w-[500px] text-white flex flex-col gap-5 justify-between items-center
            p-5 rounded-2xl border-[1px] border-gray-700">
        <h1 class="font-bold text-2xl">Restablecer contraseña</h1>
        <p class="text-center">Le hemos enviado por correo electrónico instrucciones para configurar su nueva contraseña.</p>
        <p class="text-center">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección de registro.</p>
    </div>

    <div class="w-full flex text-sm justify-end text-white mb-4 mr-4">
        <p class="flex ">Modulo de PQRS - Cootratiempo - Version 1.0 - 2024</p>
    </div>
</div>
{% endblock %}