{% extends "baseUsers.html" %} {% load static %} {% block datas %}
    <section class="">

        <div class="">
            <div class="top-areas flex flex-row justify-between">
                <h2 class="text-3xl text-gray-700 font-semibold">Usuarios Registrados</h2>
                <button type="button"
                    id="open-dialog"
                    class="bg-cootra w-[300px] h-[35px] hover:opacity-85 transition-all duration-200 text-white text-lg px-5 shadow-xl rounded-lg">
                    Crear Usuario
                </button>
                </div>
            <div
            class="w-full flex flex-col border-2 border-gray-500 rounded-lg shadow-lg text-sm mt-4"
            >
            <ul
                class="flex flex-row text-base font-semibold bg-gray-300 px-2 py-2 rounded-lg"
            >
                <li class="w-[15%] text-center">Usuario</li>
                <li class="w-[15%] text-center">Area</li>
                <li class="w-[25%] text-center">Nombre</li>
                <li class="w-[20%] text-center">Correo</li>
                <li class="w-[10%]">Rol</li>
                <li class="w-[6%]">Admin</li>
                <li class="w-[6%]">Estado</li>
                <li class="w-[3%]"></li>
            </ul>
            {% for user in users %}
            <ul
                class="flex flex-row py-2 bg-gray-100/40 rounded-lg hover:bg-slate-200 transition-colors duration-200 px-2 text-sm"
            >
                {% if user.area %}
                <li class="w-[15%]">{{ user.username }}</li>
                <li class="w-[15%]">{{ user.area }}</li>
                <li class="w-[25%]">{{ user.first_name }} {{user.last_name}}</li>
                <li class="w-[20%]">{{ user.email }}</li>
                <li class="w-[10%]">{{ user.permissions}}</li>
                <li class="w-[6%]">{{ user.is_staff }}</li>
                <li class="w-[6%]">
                {% if user.is_active %} Activo {% else %} Inactivo {% endif %}
                </li>
                <li class="w-[3%] flex justify-center items-center">
                <a class="hover:scale-110" href="{% url 'updateUser' user.id%}">
                    {% include "icons/editUser.html" %}
                </a>
                </li>
                {% endif %}
            </ul>
            {% endfor %}
            </div>
        </div>

        <div class="flex flex-col justify-between">
            <div id="backdrop" class="hidden fixed inset-0 w-sreen h-screen bg-black/30 z-20
            backdrop-blur-sm"></div>
            
            <dialog
                id="dialog"
                class="hidden w-[80%] h-[80%] inset-0 flex-col items-center justify-center rounded-xl z-50
                border-2 border-gray-500 shadow-2xl px-20 py-8">
                <button id="close-dialog" class="absolute top-3 right-3">
                    {% include "icons/close.html" %}
                </button>
                <h2 class="text-2xl text-cootra font-semibold">Crear nuevo Usuario</h2>
                <form method="POST" class="w-full my-10 flex flex-col justify-center ">
                    {% csrf_token %}
                    <div class="grid grid-cols-2 gap-5">
                        {% for field in formUser %}
                            <div class="w-full flex flex-col">
                                <label class="text-gray-700 text-base font-semibold" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="text-gray-500 text-sm">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <button class="bg-cootra text-white px-6 py-2 rounded-lg hover:scale-102 transition-all duration-200 mt-10" type="submit">Crear Usuario</button>
                </form>
                {% if errors %}
                <ul class="errorlist">
                    {% for field, error_list in errors.items %}
                    <li>
                        <strong>{{ field }}:</strong>
                        <ul>
                            {% for error in error_list %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </dialog>
        </div>
    </section>

    
    <script>
        const backdrop = document.getElementById('backdrop')
        const dialog = document.getElementById('dialog')
        const closeDialogButton = document.getElementById('close-dialog')
        const openDialogButton = document.getElementById('open-dialog')

        function openDialog() {
            dialog.classList.remove('hidden')
            dialog.classList.add('flex')
            backdrop.classList.remove('hidden')
        }

        function closeDialog() {
            console.log("test")
            dialog.classList.add('hidden');
            backdrop.classList.add('hidden');
        }

        backdrop.addEventListener('click', closeDialog);
        closeDialogButton.addEventListener('click', closeDialog);
        openDialogButton.addEventListener('click', openDialog);

    </script>

{% endblock datas %}
