.areas {
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.users {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.top-areas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

