{% extends "baseUsers.html" %}

{% block datas %}
<div>
    <h3 class="text-cootra text-xl font-semibold mb-4">Descargue de reportes</h3>
    <form method="post" class="flex flex-row gap-10 mb-5">
        {% csrf_token %}
        {{ form.as_p}}
        <button class="bg-cootra text-white rounded-lg px-5 hover:scale-102 transition-all duration-200">Descargar</button>
    </form>
    <h3 class="text-2xl text-cootra font-bold mb-4">Estadisticas Usuarios</h3>
    <div class="bg-black/10 rounded-xl w-full flex flex-col p-4 gap-2">
        <div class="w-full flex flex-row justify-around items-center">
            <p class="w-[14%] text-center font-semibold flex justify-center items-center">Usuario</p>
            <p class="w-[14%] text-center font-semibold flex justify-center items-center">Creadas</p>
            <p class="w-[14%] text-center font-semibold flex justify-center items-center">Abiertas</p>
            <p class="w-[14%] text-center font-semibold flex justify-center items-center">Espera</p>
            <p class="w-[14%] text-center font-semibold flex justify-center items-center">Finalizadas</p>
            <p class="w-[14%] text-center font-semibold flex justify-center items-center">Finalizadas por Asociado</p>
            <p class="w-[14%] text-center font-semibold flex justify-center items-center">Vencidas</p>
        </div>
        {% for user in users %}
        <div class="bg-white w-full flex flex-row justify-around items-center rounded-xl">
            <p class="w-[14%] flex justify-center items-center">{{ user.user }}</p>
            <p class="w-[14%] flex justify-center items-center">{{ user.pqrsCreated }}</p>
            <p class="w-[14%] flex justify-center items-center">{{ user.pqrsOpen }}</p>
            <p class="w-[14%] flex justify-center items-center">{{ user.pqrsWait }}</p>
            <p class="w-[14%] flex justify-center items-center">{{ user.pqrsClose }}</p>
            <p class="w-[14%] flex justify-center items-center">{{ user.pqrsCloseForUser }}</p>
            <p class="w-[14%] flex justify-center items-center">{{ user.pqrsExpired }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock datas %}